{% extends 'main_layout.html' %} {% block content %}
<table class="table table-bordered">
  <thead>
    <tr class="table-secondary">
      <th scope="col">#</th>
      <th scope="col">Nama Pemberi</th>
      <th scope="col">Nama Peminjam</th>
      <th scope="col">Jumlah</th>
      <th scope="col">Tanggal Pinjam</th>
      <th scope="col">Tanggal Jatuh Tempo</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for h in hutang %}
    <tr>
      <td>{{ forloop.counter}}</td>
      <td>{{ h.nama_pemberi }}</td>
      <td>{{ h.nama_peminjam }}</td>
      <td>{{ h.jumlah|floatformat:0 }}</td>
      <td>{{ h.tanggal_pinjam }}</td>
      <td>{{ h.tanggal_jatuh_tempo }}</td>
      <td>
        {% if h.status == "lunas" %}
        <span class="text-success fw-bold">Lunas</span>
        {% else %}
        <span class="text-danger fw-bold">Belum Lunas</span>
        {% endif %}
      </td>
      <td>
        <div class="d-flex justify-content-center">
          <a href="{% url 'edit_data' h.id %}" class="btn btn-warning me-2">Edit</a>
          <form action="{% url 'hapus_data' h.id %}" method="post" onsubmit="return confirm('Apakah Anda yakin ingin menghapus data ini?');">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Hapus</button>
          </form>
        </div>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="8" class="text-center">Tidak ada data hutang.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
